* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea, input[type=button], input[type=submit], input[type=text], input[type=email] {
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  border-radius: 3px;
  color: inherit;
  font: inherit;
}

input[type=text], input[type=email] {
  line-height: 32px;
  padding: 0 5px;
}

input[type=button], input[type=submit] {
  background-color: #fcfcfc;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 200ms, font-weight 200ms;
}
input[type=button]:hover, input[type=submit]:hover {
  background-color: #efefef;
  font-weight: 800;
}

textarea {
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: #82d039;
}
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: CopseRegular;
  src: url("../fonts/Copse-Regular.ttf");
}
@font-face {
  font-family: LobsterTwoRegular;
  src: url("../fonts/LobsterTwo-Regular.otf");
}
@font-face {
  font-family: LobsterTwoBold;
  src: url("../fonts/LobsterTwo-Bold.otf");
}
div#body {
  color: #4c4c4c;
  background-color: #fcfcfc;
  min-width: 980px;
}

#Slideshow {
  display: none;
}

#Logo {
  padding: 20px 0 0;
  width: 100%;
  text-align: center;
}
#Logo img:first-child {
  cursor: pointer;
}
#Logo img:last-child {
  padding-bottom: 60px;
  margin-left: 20px;
}

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: normal;
  font-family: "CopseRegular", Arial, Helvetica, sans-serif;
}
main:after {
  content: "";
  display: table;
  clear: both;
}
main p {
  line-height: 1.5em;
}
main h1 {
  text-align: center;
  margin: 20px 0 15px;
  font-size: 2.5em;
  font-family: "LobsterTwoBold", Arial, Helvetica, sans-serif;
}
main h2, main h3 {
  text-align: center;
}
main section.center {
  text-align: center;
}
main img.pet-img {
  margin: 20px 0;
  width: 250px;
}
main embed {
  display: block;
  margin: 0 auto;
}

footer {
  margin: 60px 0 40px;
  text-align: center;
  font-size: 0.8em;
  font-weight: normal;
  font-family: "CopseRegular", Arial, Helvetica, sans-serif;
  color: #8b8062;
}

nav#desktop-nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  background-color: #82d039;
  line-height: 60px;
}
nav#desktop-nav:after {
  content: "";
  display: table;
  clear: both;
}
nav#desktop-nav a {
  text-align: center;
  display: block;
  float: left;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
  display: block;
  color: inherit;
  transition: color 200ms;
}
nav#desktop-nav a:last-child {
  margin-right: 0;
}
nav#desktop-nav a:hover, nav#desktop-nav a.active {
  color: #fff;
}
nav#desktop-nav .nav-placeholder {
  height: inherit;
  position: relative;
  z-index: 11;
  text-align: center;
  display: block;
  float: left;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
  float: left;
}
nav#desktop-nav .nav-placeholder:last-child {
  margin-right: 0;
}
nav#desktop-nav .nav-placeholder a {
  width: 100%;
  float: none;
}
nav#desktop-nav .nav-placeholder span {
  transition: color 200ms;
}
nav#desktop-nav .nav-placeholder .nav-wrapper {
  background-color: #ebf729;
  position: absolute;
  height: 0;
  width: 100%;
  transition: height 200ms;
  overflow: hidden;
}
nav#desktop-nav .nav-placeholder:hover a {
  color: inherit !important;
}
nav#desktop-nav .nav-placeholder:hover span {
  cursor: default;
  color: #fff;
}
nav#desktop-nav .nav-placeholder:hover .nav-wrapper {
  height: 120px;
}
nav#desktop-nav .nav-placeholder.active span {
  color: #fff;
}
nav#desktop-nav #services span {
  display: block;
  line-height: normal;
  padding: 10px 0;
}
nav#desktop-nav #services:hover .nav-wrapper {
  height: 180px;
}

/**
 * styles for mweb (~768px)
 * may be ugly, but this was an afterthought
 */
@media (max-width: 768px) {
  div#body {
    min-width: 0;
  }

  main {
    width: 100%;
    padding: 0 15px;
  }

  #Logo {
    padding: 40px 15px 0;
  }
  #Logo img {
    display: block;
    width: 100%;
  }
  #Logo img:first-child {
    height: 100px;
    width: 122px;
    margin: 0 auto 20px;
  }
  #Logo img:last-child {
    margin: 0 !important;
    padding: 0 !important;
  }

  nav#desktop-nav {
    display: none;
  }

  /**
   *  styles for displaying mobile nav
   */
  div#body {
    overflow-x: hidden;
    position: relative;
  }

  div#m-nav-toggle {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 1;
  }

  div#wrapper {
    background-color: inherit;
    position: relative;
    left: 0;
    transition: left 500ms;
  }

  html.m-nav-visible div#wrapper {
    left: 100%;
  }

  nav#mobile-nav {
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  nav#mobile-nav a {
    flex: 1 1 auto;
  }
  nav#mobile-nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }
}
@media (min-width: 769px) {
  div#m-nav-toggle, nav#mobile-nav {
    display: none;
  }
}
section.home p.opening {
  margin-top: 40px;
}
section.home section {
  margin: 40px 0;
}
section.home section:after {
  content: "";
  display: table;
  clear: both;
}
section.home section div.img-link {
  text-align: center;
  position: relative;
}
@media (min-width: 769px) {
  section.home section div.img-link {
    display: block;
    float: left;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  section.home section div.img-link:last-child {
    margin-right: 0;
  }
}
section.home section div.img-link .overlay, section.home section div.img-link .overlay-text {
  width: 295px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  opacity: 0;
  transition: opacity 400ms;
}
section.home section div.img-link .overlay {
  background-color: #fff;
}
section.home section div.img-link .overlay-text {
  text-align: left;
  padding: 10px 15px;
}
section.home section div.img-link .overlay-text h2 {
  font-size: 1em;
  color: #82d039;
  margin-top: 0;
}
section.home section div.img-link .overlay-text p {
  color: #4c4c4c;
  font-size: 0.9em;
}
section.home section div.img-link .overlay-text p:last-of-type {
  color: #82d039;
}
section.home section div.img-link:hover .overlay-text {
  opacity: 1;
}
section.home section div.img-link:hover .overlay {
  opacity: 0.9;
}
section.home section.center img {
  margin-top: 40px;
}

section.services section.quad-block {
  margin: 40px 0;
}
section.services section.quad-block:after {
  content: "";
  display: table;
  clear: both;
}
section.services section.quad-block div.img-wrapper {
  height: 225px;
  overflow: hidden;
  text-align: center;
  display: block;
  float: left;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.services section.quad-block div.img-wrapper:last-child {
  margin-right: 0;
}
section.services section.quad-block div.img-wrapper:nth-of-type(1) {
  background-image: url("/assets/img/sophie.jpg");
}
section.services section.quad-block div.img-wrapper:nth-of-type(2) {
  background-image: url("/assets/img/retriever.jpg");
}
section.services section.quad-block div.img-wrapper:nth-of-type(3) {
  background-image: url("/assets/img/lab.jpg");
}
section.services section.quad-block div.img-wrapper:nth-of-type(4) {
  background-image: url("/assets/img/little_dog.jpg");
}

section.policies section.tri-block {
  margin: 40px 0;
}
section.policies section.tri-block:after {
  content: "";
  display: table;
  clear: both;
}
section.policies section.tri-block div.img-wrapper {
  height: 225px;
  overflow: hidden;
  text-align: center;
  display: block;
  float: left;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.policies section.tri-block div.img-wrapper:last-child {
  margin-right: 0;
}
section.policies section.tri-block div.img-wrapper:nth-of-type(1) {
  background-image: url("/assets/img/two_dogs.jpg");
}
section.policies section.tri-block div.img-wrapper:nth-of-type(2) {
  background-image: url("/assets/img/four_dogs.jpg");
}
section.policies section.tri-block div.img-wrapper:nth-of-type(3) {
  background-image: url("/assets/img/ugly_dog.jpg");
}

section.pricing h3 {
  text-align: left;
}
section.pricing p {
  padding: 0 30px;
}
section.pricing section.tri-block {
  margin: 40px 0;
  margin: 20px 0;
}
section.pricing section.tri-block:after {
  content: "";
  display: table;
  clear: both;
}
section.pricing section.tri-block div.img-wrapper {
  height: 225px;
  overflow: hidden;
  text-align: center;
  display: block;
  float: left;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.pricing section.tri-block div.img-wrapper:last-child {
  margin-right: 0;
}
section.pricing section.tri-block div.img-wrapper:nth-of-type(1) {
  background-image: url("/assets/img/sleeping_dog.jpg");
}
section.pricing section.tri-block div.img-wrapper:nth-of-type(2) {
  background-image: url("/assets/img/retriever_2.jpg");
}
section.pricing section.tri-block div.img-wrapper:nth-of-type(3) {
  background-image: url("/assets/img/sleeping_dogs.jpg");
}
section.pricing section.tri-block div.img-wrapper {
  background-size: auto;
}

section.our-friends #Slideshow {
  margin: 40px 0;
}
section.our-friends #Slideshow .img-wrapper {
  background-color: #eee;
  height: 600px;
  width: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
section.our-friends #Slideshow .img-wrapper:nth-of-type(1) {
  background-image: url("/assets/img/tongue.jpg");
}
section.our-friends #Slideshow .img-wrapper:nth-of-type(2) {
  background-image: url("/assets/img/spaniel.jpg");
}
section.our-friends #Slideshow .img-wrapper:nth-of-type(3) {
  background-image: url("/assets/img/terrier.jpg");
}
section.our-friends #Slideshow .img-wrapper:nth-of-type(4) {
  background-image: url("/assets/img/bulldog.jpg");
}
section.our-friends #Slideshow .img-wrapper:nth-of-type(5) {
  background-image: url("/assets/img/retriever_3.jpg");
}

@media (max-width: 768px) {
  section.our-friends #Slideshow .img-wrapper {
    height: 100%;
  }
}
section.remembrance p {
  width: 800px;
  margin: 40px auto;
}

@media (max-width: 768px) {
  section.remembrance p {
    width: auto;
  }

  embed {
    width: auto !important;
    height: auto !important;
  }
}
.contact h2 {
  font-family: "LobsterTwoRegular", Arial, Helvetica, sans-serif;
  text-align: left;
  color: #82d039;
  margin-bottom: 5px;
}
@media (min-width: 769px) {
  .contact .contact-info {
    display: block;
    float: left;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  .contact .contact-info:last-child {
    margin-right: 0;
  }
}
@media (min-width: 769px) {
  .contact .contact-form {
    display: block;
    float: left;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  .contact .contact-form:last-child {
    margin-right: 0;
  }
}
.contact .contact-form div.input-wrapper {
  width: 350px;
}
.contact .contact-form label {
  line-height: 32px;
  display: block;
  margin-bottom: 10px;
}
.contact .contact-form label:after {
  content: "";
  display: table;
  clear: both;
}
.contact .contact-form label input {
  float: right;
  width: 70%;
}
.contact .contact-form textarea {
  width: 350px;
  display: block;
  margin: 0 0 10px;
}

.testimonials {
  text-align: center;
}
.testimonials img {
  display: block;
  margin: 0 auto 20px;
}
.testimonials section {
  margin: 40px 0;
}