$white: #fff;
$black: #000;

$greenBkgd: #82d039;

$grayFont: #4c4c4c;
$grayBkgd: #fcfcfc;
$blueGrayBkgd: #ECF7F4;
$footerFont: #8b8062;

$inputGrayBrdr: #b3b3b3;
$shadowGray: #ccc;
$hoverGray: #efefef;

$yellowBkgd: #ebf729;
$yellowText: #cdd815;
